* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(243, 242, 242);
  height: 100%;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: rgb(244, 241, 241);
  height: 60px;
}

nav ul {
  display: flex;
  /* border: 1px solid red; */
  /* width: 00px; */
  justify-content: center;

}

nav ul li {
  list-style: none;
  width: 100px;
  padding-top: 28px;
}

nav ul li a {
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  /* margin-top: 10px; */
  font-weight: 530;
  font-family: sans-serif;
  font-size: 16px;
  color: #222222;
}

nav ul li:nth-child(1) {
  width: 75px;
}

nav ul li:nth-child(4) {
  width: 65px;
}

nav ul li a:hover {
  color: #40A944;
}

nav h3,
p {
  color: #222222;
}

header {
  position: relative;
  bottom: 10px;
  height: 170px;
}

.head {
  position: relative;
  top: 60px;
  height: 180px;
}

.logo {
  width: 220px;
  height: 100px;
  position: relative;
  left: 12%;
  top: 18px;
}

.logo img {
  width: 70px;
  height: 70px;
}

.logo h2 {
  position: relative;
  bottom: 50px;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  left: 64px;
}

.search-box {
  width: 380px;
  height: 50px;
  position: relative;
  left: 35%;
  bottom: 72px;

}

.search-box input {
  width: 350px;
  height: 25px;
  border: 1px solid #e6e6e6;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  margin: 5px;
}

.search {
  width: 70px;
  height: 47px;
  background-color: #40A944;
  border-style: none;
  position: relative;
  left: 386px;
  bottom: 52px;
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.search:hover {
  background-color: #222222;
}

.extra {
  display: flex;
  position: relative;
  width: 336px;
  left: 71%;
  bottom: 100px;
  cursor: pointer;
}


.register:hover {
  color: #40A944;
}

.customer:hover {
  color: #40A944;
}

footer {
  width: 100%;
  height: 510px;
  /* border: 1px solid red; */
  position: relative;
  margin-top: 100px;
}

.address {
  position: relative;
  top: 40px;
  width: 500px;
  height: 200px;
  left: 180px;
}

.footer-para {
  padding: 10px;
  color: #3c3c3c;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 400;
}

.span {
  color: #222222;
  font-weight: bold;
  letter-spacing: normal;
}

.quick-link {
  /* border: 1px solid red; */
  width: 100px;
  height: 260px;
  position: relative;
  left: 50%;
  bottom: 230px;
}

.footer-quick li {
  list-style: none;
  font-family: sans-serif;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
  word-spacing: 3px;
  line-height: 25px;
  margin-bottom: 15px;
  position: relative;
  top: 20px;
}

.footer-quick li a:hover {
  color: #40A944;
}

.footer-quick li a {
  text-decoration: none;
  padding: 10px 0;
  color: #929292;
}

.newsletter {
  /* border: 1px solid red; */
  position: relative;
  left: 68%;
  width: 400px;
  height: 300px;
  bottom: 480px;
}

.footer-title {
  padding: 10px 0px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  color: #2e2e2e;
}

.subscribe {
  width: 80px;
  height: 47px;
  background-color: #40A944;
  border-style: none;
  position: relative;
  top: 10px;
  right: 10px;
  /* bottom: 20px; */
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.subscribe:hover {
  background-color: #222222;
}

.footer-payment {
  background-color: #40A944;
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 450px;
  /* border: 1px solid red; */
}

.footer-payment ul li {
  margin: 5px;
  padding: 10px;
}

.footer-payment ul li img {
  border-radius: 4px;
  width: 60px;
}