*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(243, 242, 242);
}
nav{
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: rgb(244, 241, 241);
  height: 60px;
}
nav ul{
  display: flex;
  justify-content: center;
  
}
nav ul li{
  list-style: none;
  width: 100px;
  padding-top: 28px;
}
nav ul li a{
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  /* margin-top: 10px; */
  font-weight: 530;
  font-family: sans-serif;
  font-size: 16px;
  color: #222222;
}
nav h3,
p{
  color: #222222;
}
.customer:hover{
  color: #40A944;
}

footer {
  width: 100%;
  height: 450px;
  /* border: 1px solid red; */
  position: relative;
  top: 400px;
}

.address {
  position: relative;
  top: 40px;
  width: 500px;
  height: 200px;
  left: 180px;
}

.footer-para {
  padding: 10px;
  color: #3c3c3c;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 400;
}

.span {
  color: #222222;
  font-weight: bold;
  letter-spacing: normal;
}

.quick-link {
  /* border: 1px solid red; */
  width: 100px;
  height: 260px;
  position: relative;
  left: 55%;
  bottom: 230px;
}

.footer-quick li {
  list-style: none;
  font-family: sans-serif;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
  word-spacing: 3px;
  line-height: 25px;
  margin-bottom: 15px;
  position: relative;
  top: 20px;
}

.footer-quick li a:hover {
  color: #40A944;
}

.footer-quick li a {
  text-decoration: none;
  padding: 10px 0;
  color: #929292;
}

.newsletter {
  /* border: 1px solid red; */
  position: relative;
  left: 70%;
  width: 400px;
  height: 300px;
  bottom: 480px;
}

.footer-title {
  padding: 10px 0px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  color: #2e2e2e;
}

.subscribe {
  width: 80px;
  height: 47px;
  background-color: #40A944;
  border-style: none;
  position: relative;
  top: 10px;
  right: 10px;
  /* bottom: 20px; */
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.subscribe:hover {
  background-color: #222222;
}

.footer-payment {
  background-color: #40A944;
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 450px;
  /* border: 1px solid red; */
}

.footer-payment ul li {
  margin: 5px;
  padding: 10px;
}

.footer-payment ul li img {
  border-radius: 4px;
  width: 60px;
}