.container{
	position: relative;
	width: 100%;
	max-width: 1000px;
	height: 100%;
	margin: 40px;
	display: grid;
	grid-template-columns: 1fr 2fr; /**  1fr = 1 part of available parts **/
}
.container .left-div{
	position: relative;
	background-color: #40A944;
	padding: 40px 30px 40px 30px;
}
.left-parts{
	position: relative;
	padding-top: 10px;
	margin-top: 10px;
}

.left-parts ul {
	position: relative;
	list-style: none;
	/*color: #fff;*/
	margin: 10px 0px 20px 0px;
}
.left-parts ul li{
	font-size: 18px;
	line-height: 40px;

}
.imgbox{
	position: relative;
	width: 30px;
	height: 30px;
	bottom: 30px;
	padding: 2px;
	left: 50px ;
	
}
.left-parts ul h4{
	/*color: #fff;*/
	text-transform: uppercase;
	font-size: 20px;
	padding: 0px 0px 10px ;
	/*line-height: 30px;*/
} 
.title{
	font-size: 24px;
	font-family: sans-serif;
	text-transform: uppercase;
	padding: 20px 0px 10px 0px;
}
.para{
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1.5em;
}

.container .right-div{
	position: relative;
	background-color: rgb(243, 242, 242);
	padding: 40px;
}

.second ul{
	list-style: none;
	margin: 10px 0px 10px 0px;

}
.second ul li{
	padding: 10px 0px 10px;
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1.5em;
}
.link{
	height: 40px;
	padding-top: 10px;

}


